<div class="container">
  <div class="ro">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-content">
          <center>
            <h4 class="">Iniciar Sesión</h4>
          </center>

          <form action="" method="POST" id="login">
            <div class="input-field col s12">
              <input id="email" name="email" class="validate" type="email">
              <label for="email" class="error">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" name="password" class="validate" type="password" minlength="6" maxlength="20" required>
              <label for="password" class="error">Contraseña</label>
            </div>
          </form>
          <center>
            <button onclick="loginUser();" id="btnLogn" class="waves-effect waves-light btn light-green accent-4">
            Iniciar Sesión</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>